<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="UTF-8" />
		<!-- <title>Natural Language processing</title>
		<link rel="stylesheet" src="/styles/resets.scss" />
		<link rel="stylesheet" src="/styles/base.scss" />
		<link rel="stylesheet" src="/styles/header.scss" />
		<link rel="stylesheet" src="/styles/form.scss" />
		<link rel="stylesheet" src="/styles/footer.scss" /> -->
	</head>

	<body>
		<header>
			<div class="title">Evaluating a News post using the MeaningCloud API</div>
		</header>

		<main>
    <div id="app">
			<section class="form-container">
				<form class="" id="submit" onsubmit="return Client.handleSubmit(event)">
					<input class="user_input" id="urlInput" type="text" name="input" value="" placeholder="Enter a URL here" />
					<input
						class="btn"
						type="submit"
						id="submit"
						value="Analysis"
						onclick="return Client.handleSubmit(event)"
						onsubmit="return Client.handleSubmit(event)"
					/>
				</form>
				<div class="error_message" id="errorMessage"></div>
			</section>

			<section>
				<div class="holder entry">
					<div class="result-title" id="entryHolder"><strong>See bellow the results bellow👇 </strong></h1>
					<div id="polarity"></div>
					<div id="agreement"></div>
					<div id="subjectivity"></div>
					<div id="confidence"></div>
					<div id="irony"></div>
				</div>
			</section>
      </div>
		</main>
		<!-- <script>
			if ("serviceWorker" in navigator) {
				window.addEventListener("load", () => {
					navigator.serviceWorker
						.register("/service-worker.js")
						.then((registration) => {
							console.log("SW registered: ", registration);
						})
						.catch((registrationError) => {
							console.log("SW registration failed: ", registrationError);
						});
				});
			}
		</script> -->

		<footer>
			<p class="footer-text">Copyright 2021 © Alina Goiea</p>
		</footer>
	</body>
</html>
