footer {
	background-color: #90323d;
	color: white;
	text-align: center;
	margin-top: 40px;
	font-family: "Mali", cursive;
	justify-content: flex-end;
	height: 55px;
}

.footer-text {
	padding: 20px;
}

.social-media a {
	width: 48px;
	height: 48px;
	border: 1px solid black;
	border-radius: 24px;
	margin-top: 10px;
	text-decoration: none;
}
