input {
	padding: 5px 20px;
	width: 100%;
	line-height: 16px;
	margin: 20px 0;
	border: 2px solid black;
}

.form-container {
	display: flex;
	margin: 100px 150px 0px 400px;
}

.results-container {
	margin: 20px 150px;
	font-size: 20px;
}

.result-title {
	margin: 35px 0;
	font-weight: 600;
}

#url {
	border: 1px solid black;
}

#submit {
	border: 2px solid black;
	width: 600px;
}

#submit:hover {
	background-color: gray;
	color: white;
}

main {
	border: 1px solid black;
	padding: 25px 0;
}
