input {
	padding: 5px 20px;
	width: 100%;
	line-height: 16px;
	margin: 20px 0;
	border: 2px solid black;
	border-radius: 10px;
}

#submit .btn {
	width: 596px;
	font-size: 20px;
	font-family: "Mali", cursive;
}

.form-container {
	display: flex;
	margin: 100px 150px 0px 400px;
	border-radius: 10px;
	background-color: #b56576;
}

.results-container {
	margin: 20px 150px;
	font-size: 20px;
}

.result-title {
	margin: 35px 0;
	font-weight: 600;
}

#url {
	border: 1px solid black;
}

#submit {
	border: 2px solid black;
	width: 600px;
}

#submit .btn:hover {
	background-color: #eddcd2;
	color: white;
	font-size: bold;
	transition: 0.3s ease;
}

main {
	border: 1px solid black;
	padding: 25px 0;
}

.holder-entry {
	margin: 10px 10px 10px 10px;
	border: 3px solid green;
	border-radius: 10px;
}
